
.tools {
    display: flex;
    justify-content: space-between;
    width: 250px;
    padding-top: 5%;
    padding-left: 5%;
}

input[type=number] {
    width: 50px;
}

#container {
    height: 100%; 
    width:100%; 
    font-size:0;
}
#left, #middle, #right {
    display: inline-block; 
    *display: inline; 
    vertical-align: top; 
    font-size: 30px;}

#left{
    padding-left: 5%;
    padding-right: 2%;
}
#middle {
    width: 10%;
}
#right {
    width: 10%;
}

.button {
    width: 100px;
}
.button-padding {
    padding: 10%
}